.main__price {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: #626262;
    position: relative;
    padding-right: rem(20px)
}

.main__price-wrap {
    display: flex;
}

.main__criterion {
    font-family: Arial;
    font-weight: 500;
    line-height: rem(38px);
    font-size: rem(14px);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: rem(50px);   
}

.main__cost {
    font-family: Arial;
    font-weight: 500;
    line-height: rem(38px);
    font-size: rem(14px);
    padding-bottom: rem(9px);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.main__in-total {
    font-family: "BeauSansPro";
    font-weight: 500;
    line-height: rem(38px);
    font-size: rem(14px);
    color: #0a7eb5;
    margin-top: rem(14px);
    text-transform: uppercase;
    position: relative;
}

.main__price::before {
    content: "";
    display: block;
    position: absolute;
    top: 87px;
    left: 0;
    width: rem(1030px);
    height: 1px;;
    background-image: linear-gradient(to right, black 33%, rgba(255,255,255,0) 0%);
    background-position: bottom;
    background-size: 5px 1px;
    background-repeat: repeat-x;
}

.bold {
    font-size: rem(18px);
    font-weight: 700;
    color: black;
}

.bold_total {
    font-size: rem(24px);
    font-weight: 700;
    padding-left: rem(4px);
}